.btn {
  @apply inline-block rounded-md border border-transparent px-5 py-2 font-semibold capitalize transition cursor-pointer;
}

.btn-primary {
  @apply  bg-[#15B004] text-white dark:border-darkmode-primary dark:bg-[#15B0A4] dark:text-text-white text-center;
}

.btn-outline-primary {
  @apply border-dark bg-transparent text-text-dark hover:bg-dark hover:text-white dark:border-white dark:text-white dark:hover:bg-white dark:hover:text-text-dark;
}
