.header {
  @apply bg-body py-6 dark:bg-darkmode-body;
}

/* navbar items */
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-dark dark:text-darkmode-dark;
  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center;
}

.nav-link {
  @apply block p-3 font-bold text-2xl transition text-text-light hover:text-text-dark dark:!text-darkmode-text dark:hover:!text-darkmode-primary lg:px-2 lg:py-3 cursor-pointer;
}

.nav-list {
  @apply space-y-2;
}

/* .nav-link {
  @apply text-gray-700 dark:text-gray-200;
} */

.submenu-arrow.active {
  @apply rotate-180;
}

.nav-active {
  @apply text-text-dark dark:text-darkmode-text-dark;
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown-list {
  @apply z-10 rounded bg-body p-4 shadow dark:bg-darkmode-dark;
}

.nav-dropdown-item {
  @apply mb-2;
}

.nav-dropdown-link {
  @apply block py-1 font-medium text-xl text-text-light transition hover:!text-darkmode-text-dark dark:!text-darkmode-text dark:hover:text-darkmode-primary;
}

/* theme-switcher */
.theme-switcher {
  @apply inline-flex;

  label {
    @apply relative inline-block h-4 w-6 cursor-pointer rounded-2xl bg-border lg:w-10;
  }

  input {
    @apply absolute opacity-0;
  }

  span {
    @apply absolute -top-1 left-0 dark:lg:left-4 flex h-6 w-6 items-center justify-center rounded-full bg-dark transition-all duration-300 dark:bg-white;
  }

  input:checked + label {
    span {
      @apply lg:left-4;
    }
  }
}
