/* navbar toggler */
input#nav-toggle:checked + label #show-button {
  @apply hidden;
}

input#nav-toggle:checked + label #hide-button {
  @apply block;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block;
}

/* swiper pagination */
.testimonial-slider-pagination {
  .swiper-pagination-bullet {
    @apply h-2.5 w-2.5 bg-light opacity-100 dark:bg-darkmode-light;
  }

  .swiper-pagination-bullet-active {
    @apply h-4 w-4 bg-primary dark:bg-darkmode-primary;
  }
}

.iiz__hint {
  @apply rounded-md;
}

/* change input autofield color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.9) inset !important;
}

/*Change text in autofill textbox*/
.dark input:-webkit-autofill {
  -webkit-text-fill-color: #ddd !important;
}
